@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    background: #000;
    color: #61dafb;
    text-align: center;
}

/* Header styles */
.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: #222;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

/* Main content styles */
main {
    padding: 40px 20px; /* Increased vertical padding */
}

h1 {
    font-size: 3rem; /* Larger font size for the heading */
    margin-bottom: 20px; /* Space below the heading */
}

p {
    font-size: 1.6rem; /* Adjusted font size for paragraphs */
    margin-bottom: 30px; /* Space below paragraphs */
}

/* Approval logo styles */
.approval {
    margin: 30px 0; /* Added margin above and below */
}

.gg-logo {
    width: 30px; /* Set width to 30px */
    height: auto; /* Maintain aspect ratio */
}

/* Button styles */
.buttons, .social-buttons {
    margin: 20px 0;
}

.buttons a, .social-buttons a {
    display: inline-block;
    padding: 15px 25px; /* Increased padding */
    margin: 10px;
    background-color: #111;
    color: #61dafb;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem; /* Adjusted font size */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.buttons a:hover, .social-buttons a:hover {
    background-color: #61dafb;
    color: #000;
}

/* Footer styles */
.footer {
    background-color: #111;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
}
