body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #111;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #333;
}

.navbar a {
    float: left;
    display: block;
    color: #61dafb;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #61dafb;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}
