body {
    background-color: #000;
    color: #eaeaea;
    padding-top: 60px; /* Add space for the fixed navbar */
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.embed {
    width: 400px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.embed:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.embed img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #333;
}

.embed .content {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.embed .content a {
    text-decoration: none;
    color: #ff5722;
    font-weight: 600;
    margin-bottom: 10px;
}

.embed .content p {
    margin: 0;
    color: #b0b0b0;
    font-size: 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #eaeaea;
    position: relative;
    bottom: 0;
    width: 100%;
}
